<html>

<head>
  <title>{{ title }}</title>
  <script src="{{ url_for('static', filename='assets/bundle.js') }}"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.profile') }}" aria-current="page" href="#">Home</a>
            </li>
            {% endif %}


            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('auth.login') }}" class="nav-link">
                Login
              </a>
            </li>

            <li class="nav-item">
              <a href="{{ url_for('auth.signup') }}" class="nav-link">
                Sign Up
              </a>
            </li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a href="{{ url_for('auth.logout') }}" class="nav-link">
                Logout
              </a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <!-- Put your footer content here -->
  </footer>
</body>

</html>